eureka:
  client: 
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

server:
  port: ${PORT:${SERVER_PORT:0}}

spring:
  application:
    name: user-app
  datasource:
    url: jdbc:mysql://localhost:3306/micro_todo?useSSL=false&serverTimezone=UTC
    username: root
    password: adminroot
  jpa:
    hibernate.ddl-auto: create
    generate-ddl: true
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always


